<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.kawagh.sunaba.mapper.UserMapper">
    <select id="getUsers" resultType="jp.kawagh.sunaba.mapper.User">
        SELECT
            id
            , name
        FROM user
    </select>
</mapper>